.bg-image {
    background-image: url('/../assets/Header-bg.svg');
    color: white;
    background-size: cover;
    background-position: bottom;
    height: 15vh; 
}
.faint-text {
    color: #6c757d;
    /* Faint color */
}

.small-text {
    font-size: 0.8rem;
    /* Small text size */
}

.custom-textarea,
.custom-select {
    height: 6rem;
    /* Set the same height for both textarea and select */
}

/* bg img text and logo  */
.header-text {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

.logo {
    
    margin-top: 50px;
 
}

@media (max-width: 576px) {
    #navbar {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        /* Ensure it stays above other content */
    }
}


.profile {
    font-size: large;
    text-align: end;
    margin-top: 30px;

  }

  .profile mat-icon {
    display: inline-block;
    vertical-align: middle; /* Align icon vertically */
    margin-right: 7px; /* Add margin-right to create a gap between the icon and the username */
  }
  
  .profile span {
    display: inline-block;
    vertical-align: middle; /* Align username vertically */
  }
  
  .grey-icon {
    color: grey;
  }

  h5{
    font-size: large;
    font-weight: 550;
    text-align: center;
  }
 
 .formclass{
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    border: solid rgb(160, 160, 160) 0.5px;
    border-radius: 17px;
    text-align: center;
 }

 .form-control{
  border: none;
  flex: 1;
 }

 .form-group {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.form-label {
  flex: 0 0 120px; /* Adjust the width of the label */
  margin-right: 10px; /* Add some space between label and input */
  font-size: large;
}
 
 .icon.disabled {
  opacity: 0.0; /* Adjust the opacity to visually indicate the disabled state */
  pointer-events: none; /* Disable pointer events to prevent interactions with the icon */
}